
.main-panel{
    background-image: url("statics/better1.jpg");
    background-size: contain;
}

.login-page{
    background-image: url("statics/better1.jpg");
}

.register-page{
    background-image: url("statics/better1.jpg");
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
input::-webkit-calendar-picker-indicator {
    display: none;
    opacity: 0;
}