
.main-panel{
    background-image: url("statics/better1.jpg");
    background-size: contain;
}

.login-page{
    background-image: url("statics/better1.jpg");
}

.register-page{
    background-image: url("statics/better1.jpg");
}